@import url('https://fonts.cdnfonts.com/css/falls-candy');

.pic{
    height: 50%;
    
}
#back{
    font-family: Roboto;
    font-size: 40px;
    color: #CFE1F4;
    width: 60%;
    height: 30%;
    background-color: #4d7cbf;
    border: 0px;
    padding: 0px;
    border-radius: 6px;


}
