.pic{
    width:900px;
    border-radius: 10px;
}

.back{
    background-color:#B3DFF5;
    font-size: 30px;
    font-family: Roboto;
    border:none;
    height: 70px;
    width: 200px;
    border-radius:10px;
    cursor: pointer;

}