body{
    background-color: rgb(245, 208, 227);
}

.answer-container{
    text-align: center;
    font-size: 200%;
    font-family: Roboto;
    padding: 10%;
    background-color: #FFFACB;
}

#diff{
    font-style: italic;
}

#back{
    font-size: 150%;    
    margin-left: 43%;
    padding: 28px 80px;
    margin-top: 1%;
    border-radius: 6px;
    border: 0px;
    background: #4D7CBF;
    color: white;
}

#back:hover{
    opacity: 0.6;
}

#back:active{
    opacity: 0.5;
}
