body{
    background-color: rgb(245, 208, 227);
}
.joke-container{
    font-size: xx-large;
    font-family: Roboto;
    padding: 10%;
    text-align: center;
    background-color: #FFFACB;
    border-radius: 6px;

}

#answer{
    font-size: 150%;    
    margin-left: 43%;
    padding: 28px 80px;
    margin-top: 1%;
    border-radius: 6px;
    border: 0px;
    background: #4D7CBF;
    color: white;
}

#answer:hover{
    opacity: 0.7;
}

#answer:active{
    opacity: 0.8;
}
